.todo-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.todo-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 300ms,
        transform 300ms;
}

.todo-status-change {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.025);
}

.todo-status-change-active {
    transition: transform 0.1s ease-in-out;
    transform: scale(1);
}

.todo-exit {
    opacity: 1;
    transform: translateY(0);
}

.todo-exit-active {
    opacity: 0;
    transform: translateY(10px);
    transition:
        opacity 200ms,
        transform 200ms;
}
